* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: #f2d600;
}

.container {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.container h2 {
  color: #4d4d4d;
  font-family: Asap;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}
.container h2 span {
  border-top: 4px solid #4d4d4d;
  padding-top: 15px;
}

.header {
  background: url("../img/bg/header-bg.jpg") center center/cover;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.header-top .logo {
  text-align: center;
}
.header-top .logo h2 {
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.header-top .logo h3 {
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 4px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.04px;
}
.header-top .logo img {
  width: 24px;
}
.header-top nav ul {
  width: 460px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header-top nav ul li a {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.header-top nav ul li a:not([class='active']) {
  text-transform: uppercase;
}
.header-top nav ul li a.active {
  border-bottom: 2px solid #4d4d4d;
  padding-bottom: 7px;
}
.header-top nav ul li a.active:hover {
  border: none;
}
.header-top nav ul li a:hover {
  border-bottom: 2px solid #4d4d4d;
  padding-bottom: 7px;
}
.header-bottom {
  display: flex;
  justify-content: flex-end;
}
.header-bottom .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.header-bottom .left h1 {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 90px;
  font-weight: 500;
}
.header-bottom .left p {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 28px;
}
.header-bottom .left .links {
  display: flex;
  justify-content: space-between;
  width: 328px;
}
.header-bottom .left .links a {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 160px;
  height: 50px;
}
.header-bottom .left .links .more {
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.2s transform ease-in-out;
}
.header-bottom .left .links .more:hover {
  transform: scale(1.1);
}
.header-bottom .left .links .hire {
  outline: 1px solid #4d4d4d;
  transition: 0.2s background-color ease-in-out, 0.2s outline ease-in-out;
}
.header-bottom .left .links .hire:hover {
  background-color: #f2d600;
  outline: none;
}
.header-bottom .right .photo img {
  height: 670px;
}

section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 680px;
}
section.about .container {
  display: flex;
  justify-content: flex-end;
}
section.about .container .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
section.about .container .left h2 {
  line-height: 50px;
  margin-bottom: 12px;
}
section.about .container .left p {
  color: #4d4d4d;
  width: 469px;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
  margin-bottom: 56px;
}
section.about .container .left a {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 245px;
  height: 50px;
  display: block;
  outline: 1px solid #4d4d4d;
  transition: 0.2s outline ease-in-out, 0.2s background-color ease-in-out, 0.2s color ease-in-out;
}
section.about .container .left a:hover {
  outline: none;
  background-color: #f2d600;
  color: #fff;
}
section.about .container .right .photo img {
  width: 570px;
}

section.services {
  background-color: #f6f6f6;
  height: 692px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.services .container h2 {
  text-align: center;
  margin-bottom: 70px;
}
section.services .container .items {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 188px;
  justify-content: center;
  align-items: baseline;
  gap: 80px 200px;
  text-align: center;
  margin: 0 auto;
  width: 1190px;
}
section.services .container .items div {
  transition: 0.2s transform ease-in-out;
}
section.services .container .items div:hover {
  transform: scale(1.1);
}
section.services .container .items div h3 {
  color: #4d4d4d;
  font-family: Asap;
  font-size: 24px;
  line-height: 49px;
}

section.skills {
  height: 765px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.skills .container h2 {
  margin-bottom: 60px;
  text-align: center;
}
section.skills .container .photo {
  text-align: center;
}

section.portfolio {
  min-height: 1090px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.portfolio .container h2 {
  margin-bottom: 45px;
  text-align: center;
}
section.portfolio .container .items {
  display: grid;
  grid-template-columns: 368px 368px 368px;
  justify-content: center;
  gap: 30px;
}
section.portfolio .container .items div {
  transition: 0.2s transform ease-in-out;
}
section.portfolio .container .items div:hover {
  transform: scale(0.9);
}
section.portfolio .container .more {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
section.portfolio .container .more button {
  width: 160px;
  height: 50px;
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s transform ease-in-out;
}
section.portfolio .container .more button:hover {
  transform: scale(1.1);
}

section.testimonials {
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.testimonials .container h2 {
  text-align: center;
  margin-bottom: 58px;
}
section.testimonials .container .testimonial {
  display: flex;
  justify-content: space-between;
  border: 1px solid #212121;
  width: 955px;
  margin: 0 auto;
  padding: 60px 80px;
}
section.testimonials .container .testimonial .avatar {
  margin-right: 30px;
}
section.testimonials .container .testimonial .avatar img {
  width: 160px;
}
section.testimonials .container .testimonial .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.testimonials .container .testimonial .content h3 {
  color: #212121;
  font-family: Asap, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
section.testimonials .container .testimonial .content .descr {
  color: #212121;
  font-family: Asap, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
section.testimonials .container .testimonial .content p {
  color: #212121;
  font-family: Asap, sans-serif;
  width: 570px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

section.static {
  background-color: #f6f6f6;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
}
section.static .container .items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}
section.static .container .items .photo {
  margin-bottom: 30px;
}
section.static .container .items h3 {
  color: #212121;
  font-family: Asap;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  font-family: Asap, sans-serif;
  font-weight: 400;
}
section.static .container .items h3 span {
  font-family: Asap, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 768px;
  position: relative;
  background: url(../img/bg/contact_bg.jpg) center center/cover;
}
section.contact .container h2 {
  text-align: center;
  margin-bottom: 70px;
  color: #fff;
}
section.contact .container h2 span {
  border-color: #fff;
}
section.contact .container form {
  display: block;
  width: 768px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
section.contact .container form .top {
  display: flex;
  justify-content: space-between;
}
section.contact .container form .top input {
  width: 370px;
  height: 57px;
  background-color: #fff;
  padding: 15px 30px;
  color: #212121;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
}
section.contact .container form textarea {
  width: 100%;
  height: 207px;
  background-color: #fff;
  color: #212121;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;
  letter-spacing: 0.96px;
  resize: none;
}
section.contact .container form .sub {
  display: flex;
  justify-content: center;
}
section.contact .container form .sub button {
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 123px;
  height: 50px;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  outline: none;
  transition: 0.2s width ease-in-out;
  cursor: pointer;
}
section.contact .container form .sub button:hover {
  width: 136px;
}
section.contact .container form .sub button img {
  width: 15px;
  margin-left: 7px;
}
section.contact .container .last {
  position: relative;
  bottom: 0;
}
section.contact .container .last hr {
  margin-top: 58px;
}
section.contact .container .last .link {
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
section.contact .container .last .link a {
  width: 27px;
  height: 27px;
}
section.contact .container .last .link a:first-child {
  background: #fff url("../img/icons/facebook.png") center center no-repeat;
}
section.contact .container .last .link a:nth-child(2) {
  background: #0084b4 url("../img/icons/twitter.png") center center no-repeat;
}
section.contact .container .last .link a:nth-child(3) {
  background: #fff url("../img/icons/in.png") center center no-repeat;
}
section.contact .container .last .link a:nth-child(4) {
  background: #fff url("../img/icons/google.png") center center no-repeat;
}
section.contact .container .last .link a:nth-child(5) {
  background: #fff url("../img/icons/be.png") center center no-repeat;
}
section.contact .container .last .link a:last-child {
  background: #fff url("../img/icons/ball.png") center center no-repeat;
}
section.contact .container .last p {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}

#arrowTop {
  background: url(../img/icons/upArrow.svg) center center;
  position: fixed;
  bottom: 193px;
  right: 30px;
  padding: 25px;
  cursor: pointer;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
